@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

*, *:: before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient( 
        137deg, #280137, #0B4145 );
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(150px, auto) repeat (5, 120px);
}

.grid > button {
    cursor: pointer;
    font-size: 1.6rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255, .25);
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous {
    color: rgba(255, 255, 255, .75);
    font-size: 1.4rem;
}

.display .current {
    color: white;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .0);
    text-align: right;
    border: none;
    word-wrap: break-word;
    word-break: break-all;
    width: 300px;
}
input:focus {
    outline:none !important;
}